.category-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  ion-label {
    font-size: 1rem;
    font-weight: 500;
  }

  .actions {
    display: flex;
    gap: 6px;
    align-items: center;
  }
}
